element.style {
    word-wrap: break-word;
}
 .label-link {
    float: right;
    font-size: 12px;
}
.right-0 {
    right: 0!important;
}

.top-0 {
    top: 0!important;
}
.session-authentication .auth-form-header {
    margin-bottom: 15px;
    color: var(--color-text-primary);
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.session-authentication .header-logo {
    background-color: var(--color-bg-canvas);
}

.position-relative {
    position: relative!important;
}
.show-on-focus {
    margin: 0;
    clip: rect(1px,1px,1px,1px);
}
.show-on-focus, .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.auth-form-body {
    padding: 20px;
    font-size: 14px;
    background-color: var(--color-bg-tertiary);
    border: 1px solid var(--color-border-secondary);
    border-top: 0;
    border-radius: 0 0 6px 6px;
}
.px-3 {
    padding-right: 16px!important;
}

.pl-3, .px-3 {
    padding-left: 16px!important;
}
.container-md, .container-sm {
    margin-right: auto;
    margin-left: auto;
}
.container {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
.auth-form {
    width: 300px;
    margin: 0 auto;
}
.form-group {
    margin: 15px 0;
}
/* .px-3 {
    padding-right: 16px!important;
} */
/* .pl-3, .px-3 {
    padding-left: 16px!important;
}
* {
    box-sizing: border-box;
} */