<div class="logged-out env-production page-responsive intent-mouse" style="word-wrap: break-word;">
    <div class="position-relative js-header-wrapper ">
        <a href="#start-of-content"
            class="px-2 py-4 color-bg-info-inverse color-text-white show-on-focus js-skip-to-content">Skip to
            content</a>
        <span data-view-component="true"
            class="progress-pjax-loader width-full js-pjax-loader-bar Progress position-fixed">
            <span style="background-color: #79b8ff;width: 0%;" data-view-component="true"
                class="Progress-item progress-pjax-loader-bar"></span>
        </span>


        <div class="Header-old header-logged-out js-details-container Details position-relative f4 py-2" role="banner">
            <div class="container-xl d-lg-flex flex-items-center p-responsive">
                <div class="d-flex flex-justify-between flex-items-center">
                    <a class="mr-4" href="https://github.com/" aria-label="Homepage"
                        data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
                        <svg height="32" class="octicon octicon-mark-github color-text-white" viewBox="0 0 16 16"
                            version="1.1" width="32" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                            </path>
                        </svg>
                    </a>

                    <div class="d-lg-none css-truncate css-truncate-target width-fit p-2">


                    </div>

                    <div class="d-flex flex-items-center">

                        <button class="btn-link d-lg-none mt-1 js-details-target" type="button"
                            aria-label="Toggle navigation" aria-expanded="false">
                            <svg height="24" class="octicon octicon-three-bars color-text-white" viewBox="0 0 16 16"
                                version="1.1" width="24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>

                <div
                    class="HeaderMenu HeaderMenu--logged-out position-fixed top-0 right-0 bottom-0 height-fit position-lg-relative d-lg-flex flex-justify-between flex-items-center flex-auto">
                    <div class="d-flex d-lg-none flex-justify-end border-bottom color-bg-secondary p-3">
                        <button class="btn-link js-details-target" type="button" aria-label="Toggle navigation"
                            aria-expanded="false">
                            <svg height="24" class="octicon octicon-x color-text-secondary" viewBox="0 0 24 24"
                                version="1.1" width="24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z">
                                </path>
                            </svg>
                        </button>
                    </div>


                    <div class="d-lg-flex flex-items-center px-3 px-lg-0 text-center text-lg-left">
                        <div class="d-lg-flex min-width-0 mb-3 mb-lg-0">
                            <div
                                class="header-search flex-auto js-site-search position-relative flex-self-stretch flex-md-self-auto mb-3 mb-md-0 mr-0 mr-md-3 js-jump-to">
                                <div class="position-relative">
                                    <form class="js-site-search-form" role="search" aria-label="Site"
                                        data-unscoped-search-url="/search" action="/search" accept-charset="UTF-8"
                                        method="get">
                                        <label
                                            class="form-control input-sm header-search-wrapper p-0 js-chromeless-input-container header-search-wrapper-jump-to position-relative d-flex flex-justify-between flex-items-center">
                                            <input type="text"
                                                class="form-control input-sm header-search-input jump-to-field js-jump-to-field js-site-search-focus "
                                                data-hotkey="s,/" name="q" value="" placeholder="Search GitHub">
                                            <img src="https://github.githubassets.com/images/search-key-slash.svg"
                                                alt="" class="mr-2 header-search-key-slash">

                                        </label>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="position-relative mr-3">
                            <a href="/signin" class="HeaderMenu-link flex-shrink-0 no-underline">
                                Sign in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="p-responsive mt-4 mt-md-8">
        <div class="mb-4 mb-md-8 container-md">
            <div class="text-mono text-center color-text-tertiary text-normal mb-1">Join GitHub</div>
            <h1 class="d-none d-md-block mt-0 mb-3 text-center h1 lh-condensed-ultra ">Create your account</h1>
        </div>
        <div class="container-sm">
            <div class="auth-form-body mt-3">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group my-3 ">
                        <label name="username">
                            Username
                        </label><span class="required">*</span>
                        <input class="form-control input py-1" formControlName="username" type="text" id="username">
                        <div *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched"
                            class="alert alert-danger">
                            <div *ngIf="registerForm.controls['username'].errors" style="color: red;">
                                Username is required.
                            </div>
                        </div>
                    </div>

                    <div class="form-group my-3 ">
                        <label name="email">
                            Email address
                        </label><span class="required">*</span>
                        <input class="form-control input py-1" formControlName="email" type="text" id="email">
                        <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched"
                            class="alert alert-danger">
                            <div *ngIf="registerForm.controls['email'].errors" style="color: red;">
                                Enter valid email address.
                            </div>
                        </div>
                    </div>


                    <div class="form-group my-3 ">
                        <label name="mobileNum">
                            Mobile number
                        </label><span class="required">*</span>
                        <input class="form-control input py-1" formControlName="mobileNum" type="number" id="mobileNum">
                        <div *ngIf="registerForm.controls['mobileNum'].invalid && registerForm.controls['mobileNum'].touched"
                            class="alert alert-danger">
                            <div *ngIf="registerForm.controls['mobileNum'].errors" style="color: red;">
                                Mobile number is required.
                            </div>
                        </div>
                    </div>


                    <div class="form-group my-3 ">
                        <label name="password">
                            Password
                        </label><span class="required">*</span>
                        <input class="form-control input py-1" formControlName="password" type="password" id="password">

                        <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched"
                            class="alert alert-danger">
                            <div *ngIf="registerForm.controls['password'].errors" style="color: red;">
                                Invalid password format
                            </div>
                        </div>

                        <p class="note mb-3">Make sure it's at least 15 characters OR at least 8 characters
                            including a number<br> and a lowercase letter
                            <a href="https://docs.github.com/articles/creating-a-strong-password">Learn
                                more</a>.
                        </p>
                    </div>

                    <div class="form-group my-3">
                        <label>Email preferences</label>
                    </div>
                    <div>
                        <div class="form-checkbox">
                            <label class="text-normal mt-2 color-text-secondary">
                                <input type="checkbox" name="all_emails" id="all_emails" value="true" checked="checked">
                                Send me occasional product updates, announcements, and offers.
                            </label>
                        </div>
                    </div>
                    <div class="my-3">
                        <button class="btn btn-primary btn-large signup-btn  js-octocaptcha-form-submit width-full"
                            type="submit" height="64px">
                            Create account
                        </button>
                    </div>
                    <p class="my-3 f6">
                        By creating an account, you agree to the
                        <a href="/site/terms" target="_blank">Terms of Service</a>.
                        For more information about GitHub's privacy practices, see the
                        <a href="/site/privacy" target="_blank">GitHub Privacy Statement</a>.
                        We'll occasionally send you account-related emails.
                    </p>

                </form>
            </div>

        </div>
    </div>
    <div class="footer container-xl width-full p-responsive" role="contentinfo">
        <div
            class="position-relative d-flex flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap flex-justify-center flex-lg-justify-between pt-6 pb-2 mt-6 f6 color-text-secondary border-top color-border-secondary ">
            <ul
                class="list-style-none d-flex flex-wrap col-12 col-lg-5 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0">
                <li class="mr-3 mr-lg-0">© 2021 GitHub, Inc.</li>
                <li class="mr-3 mr-lg-0"><a href="https://docs.github.com/en/github/site-policy/github-terms-of-service"
                        data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
                <li class="mr-3 mr-lg-0"><a
                        href="https://docs.github.com/en/github/site-policy/github-privacy-statement"
                        data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
                <li class="mr-3 mr-lg-0"><a data-ga-click="Footer, go to security, text:security"
                        href="https://github.com/security">Security</a></li>
                <li class="mr-3 mr-lg-0"><a href="https://www.githubstatus.com/"
                        data-ga-click="Footer, go to status, text:status">Status</a></li>
                <li><a data-ga-click="Footer, go to help, text:Docs" href="https://docs.github.com">Docs</a></li>
            </ul>

            <a aria-label="Homepage" title="GitHub" class="footer-octicon d-none d-lg-block mx-lg-4"
                href="https://github.com">
                <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="24"
                    width="24" class="octicon octicon-mark-github">
                    <path fill-rule="evenodd"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
            </a>
            <ul
                class="list-style-none d-flex flex-wrap col-12 col-lg-5 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0">
                <li class="mr-3 mr-lg-0"><a href="https://support.github.com"
                        data-ga-click="Footer, go to contact, text:contact">Contact GitHub</a></li>
                <li class="mr-3 mr-lg-0"><a href="https://github.com/pricing"
                        data-ga-click="Footer, go to Pricing, text:Pricing">Pricing</a></li>
                <li class="mr-3 mr-lg-0"><a href="https://docs.github.com"
                        data-ga-click="Footer, go to api, text:api">API</a></li>
                <li class="mr-3 mr-lg-0"><a href="https://services.github.com"
                        data-ga-click="Footer, go to training, text:training">Training</a></li>
                <li class="mr-3 mr-lg-0"><a href="https://github.blog"
                        data-ga-click="Footer, go to blog, text:blog">Blog</a></li>
                <li><a data-ga-click="Footer, go to about, text:about" href="https://github.com/about">About</a></li>
            </ul>
        </div>
        <div class="d-flex flex-justify-center pb-6">
            <span class="f6 color-text-tertiary"></span>
        </div>
    </div>